<main>


  <div class="row" id="buttons">
    <div class="col-md-6">
      <button id="addplayer">
        +
      </button>
      <button id="removeplayer">
        -
      </button>
    </div>
  </div>


  <form class="product-form" action="create" method="POST">
  <div class="col-md-12" id="players">

    <div class="row">
      <div class="col-md-12">
        <h3>Teilnehmer:</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Spieler 1</label>
        <input type="text" id="player1">
      </div>
    </div>
  </div>

    <button type="submit">Starten</button>
  </form>



</main>


<script>

  let playerCount = 1;

  document.getElementById('addplayer').addEventListener('click', () => {
    playerCount++;
    addPlayerField();
    console.log(playerCount);
  });

  document.getElementById('removeplayer').addEventListener('click', () => {
    removePlayer();
    playerCount--;
    console.log(playerCount);
  });


  function addPlayerField () {
    const players = document.getElementById('players');

    let row = document.createElement("div");
    row.id = 'playerrow' + playerCount;
    row.className = 'row';

    let col = document.createElement("div");
    col.className = 'col-md-12';
    row.appendChild(col);

    let label = document.createElement("label");
    let labelText = document.createTextNode("Spieler " + playerCount);
    label.appendChild(labelText);
    col.appendChild(label);

    let input = document.createElement("input");
    input.type = "text";
    input.id = "player" + playerCount;
    col.appendChild(input);

    players.appendChild(row);
  }
  
  function removePlayer() {
    const playerField =document.getElementById("playerrow" + playerCount);
    playerField.remove();
  }


</script>